<div class="container">
	<% if flash[:notice] %>
		<div style="color: limegreen;">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div style="color: limegreen;">
			<%= flash[:alert] %>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-3">
			<%= render 'users/profile', user: @book.user, book:@book_new %>
		</div>
		<div class="col-md-9">
			<h3>Book detail</h3>
			<table class="table">
				<tbody>
					<tr>
						<td><%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg",size: (5*5) %><br>
							<%= link_to user_path(@book.user.id) do %>
							<%= @book.user.name %>
							<% end %>
						</td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<% if @book.user == current_user %>
						<td><%= link_to "Edit",edit_book_path(@book.id) %></td>
						<td><%= link_to "Destroy", book_path(@book.id), method: :delete %></td>
						<% end %>
					</tr>
				</tbody>
			</table>

			<%= form_for [@book, @post_comment_new] do |f| %>
			<div>
				<h3>Comment</h3>
				<%= f.text_area :comment, rows: '5', placeholder:'Comment here!', class:"form-control" %>
				<%= f.submit 'Submit', class:"btn btn-info" %>
			</div>
			<% end %>

			<div>
				<h3>Comments</h3>
				<% @book.post_comments.each do |comment| %>
				<table class="table">
					<tr>
						<td><%= attachment_image_tag comment.user, :profile_image, size:(8*8), fallback:"no_image.jpg" %></td>
						<td><%= comment.user.name %></td>
						<td><%= comment.comment %></td>
						<% if current_user.id == comment.user.id %>
						<td><%= link_to "Edit&Destroy", edit_book_post_comment_path(@book.id, comment.id) %></td>
						<% end %>
					</tr>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</div>