<div class="container">
	<% if flash[:notice] %>
		<div style="color: limegreen;">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div style="color: limegreen;">
			<%= flash[:alert] %>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-3">
			<%= render 'users/profile', user: @book.user, book:@book_new %>
		</div>
		<div class="col-md-9">
			<h3>Book detail</h3>
			<table class="table">
				<tbody>
					<tr>
						<td><%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg",size: (5*5) %><br>
							<%= link_to user_path(@book.user.id) do %>
							<%= @book.user.name %>
							<% end %>
						</td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<% if @book.user == current_user %>
						<td><%= link_to "Edit",edit_book_path(@book.id) %></td>
						<td><%= link_to "Destroy", book_path(@book.id), method: :delete %></td>
						<% end %>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<h3 class="col-md-4">Favorited by <%= @book.favorites.count %> people</h3>
				<% if @book.favorited_by?(current_user) %>
					<h3 class="col-md-1">
						<%= link_to book_favorites_path(@book), method: :delete do %>
							<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;"></span>
						<% end %>
					</h3>
				<% else %>
					<h3 class="col-md-1">
						<%= link_to book_favorites_path(@book), method: :post do %>
						<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:gray;"></span>
						<% end %>
					</h3>
				<% end %>
				<h3 class="col-mf-offset-3">
					<%= link_to "Who likes this!", book_favorites_path(@book) %></h3>
			</div>

			<%= form_for [@book, @post_comment_new] do |f| %>
			<div>
				<h3>Comment</h3>
				<%= f.text_area :comment, rows: '5', placeholder:'Comment here!', class:"form-control" %>
				<%= f.submit 'Submit', class:"btn btn-info" %>
			</div>
			<% end %>

			<div>
				<h3>Commented by <%= @book.post_comments.count %>people</h3>
				<% @book.post_comments.each do |comment| %>
				<table class="table">
					<tr>
						<td><%= attachment_image_tag comment.user, :profile_image, size:(8*8), fallback:"no_image.jpg" %><br>
							<%= comment.user.name %>
						</td>
						<td><%= comment.comment %></td>
						<% if current_user.id == comment.user.id %>
						<td><%= link_to "Edit&Destroy", edit_book_post_comment_path(@book.id, comment.id) %></td>
						<% end %>
					</tr>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</div>