<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid" style="background-color: black; height: 64px;">
        <div class="row" style="height: 64px;">
            <div class="col-md-2 col-md-offset-1" style="text-align: center;">
              <h2 style="color: white; margin: 0px; padding: 17px 0px 17px 0px; height: 64px;">Bookers</h2>
            </div>
            <div class="col-md-offset-3 col-md-6">
              <ul id="top-nav">
                <% if user_signed_in? %>
                  <li>
                    <%= link_to user_path(current_user.id) do %>
                      <div class="capsule">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                      </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to users_path do %>
                      <div class="capsule">
                        <i class="fas fa-user"></i>
                        <span>Users</span>
                      </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to books_path do %>
                      <div class="capsule">
                        <i class="fas fa-book"></i>
                        <span>Books</span>
                      </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <div class="capsule">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Log out</span>
                      </div>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to root_path do %>
                      <div class="capsule">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                      </div>
                    <% end %>
                  </i>
                  <li>
                    <%= link_to home_about_path do %>
                      <div class="capsule">
                        <i class="fas fa-link"></i>
                        <span>About</span>
                      </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_registration_path do %>
                      <div class="capsule">
                        <i class="fas fa-edit"></i>
                        <span>Sign Up</span>
                      </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_session_path do %>
                      <div class="capsule">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Log in</span>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>

              <style>
                .capsule{
                  padding: 0px 36px 0px 36px;

                }
                #top-nav{
                  list-style: none;
                  margin: 0px;
                  padding: 0px;
                }
                #top-nav li{
                  color: white;
                  font-size: 20px;
                  line-height: 64px;
                  display: inline-block;
                }
              </style>
            </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="container-fluid">
      <div class="row">
        <h4 style="font-size: 10px;" class="col-md-1 col-md-offset-9 text-nowrap">CopyRight Infratop.inc</h4>
      </div>
    </footer>
  </body>
</html>
